[submodule "themes/hugo-theme-cmd"]
	path = themes/hugo-theme-cmd
	url = https://github.com/mdavistffhrtporg/hugo-theme-cmd.git
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
